.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #4E5EAB;

    a {
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        text-align: center;
    }
}

@media(max-width: $mobile) {
    .footer {
        height: 80px;
        a {
            font-size: 18px;
        }
    }
}
