.hero {
    text-align: center;
    margin-top: 80px;
    height: 946px;
    min-height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #f7f7f7;
    background-image: url('../../images/hero-bg.png');

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Aileron', sans-serif;

    input[type="text"] {
        background-image: url('../../images/search-icon.png');
        background-repeat: no-repeat;
        background-position: 10% center;

        font-family: 'Aileron', sans-serif;
        border-radius: 50px;
        height: 88px;
        width: 540px;
        border: none;
        margin-top: 42px;
        padding: 0 50px;
        text-indent: 45px;

        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        &::placeholder {
            color: #B1AEAF;
        }

        &:focus-visible {
            outline: 2px solid $secondary-color;
        }
    }
}

@media(max-width: $mobile) {
    .hero {
        height: calc(100vh - 650px);
        background-position: 25%;
        padding: 0;

        input[type="text"] {
            width: calc(100% - 35%);
            height: 58px;
            font-size: 18px;
            text-indent: 35px;
        }
    }
}

@media(max-width: $smallMobile) {
    .hero {
        height: calc(100vh - 250px);
        background-position: 25%;
        padding: 0;
        
        input[type="text"] {
            width: 230px;
            height: 48px;
            font-size: 18px;
            margin-top: 32px;
            text-indent: 25px;
            font-size: 16px;
        }
    }
}