.nav-container {
    height: 100px;
    background-color: $navigation-bg;
    position: fixed;
    top: 0;
    width: 100%;
    align-content: center;

    .nav-contents {
        grid-column: 2 / span 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    height: 53px;
    width: 190px;
    cursor: pointer;
}

.shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px
}