@import '../variables.scss';

.topics {
    &-header-underline {
        display: inline-block;
        border-bottom: 2px solid #4E5EAB;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    &-heading {
        color: #B1AEAF;

        &-bg {
            display: flex;
            align-items: center;
            width: auto;
            background-color: #5AC6D0;
            height: 30px;
            padding: 10px 0;
            padding-inline-start: 25px;
            border-radius: 10px;
            margin-top: 50px;

            p {
                color: #fff;
            }
        }
    }

    &-card-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 25px;
        row-gap: 25px;
        column-gap: 50px;
        margin-top: 35px;
        margin-bottom: 150px;
    }

    &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 248px;
        grid-column: span 4;
        background: #F8F8F8;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;

        padding: 40px;
        text-align: center;

        img {
            height: 50px;
            width: 50px;
        }

        h4 {
            margin: 0;
            color: #4E5EAB;
        }
    }

    &-counter-section {
        white-space: normal;
        box-sizing: inherit;

        &.hidden {
            visibility: hidden;
            height: 0;
            margin: 0;
            padding: 0;
        }

        &::before {
            content: counter(count);
            counter-increment: count;
            display: inline-flex;
            width: 50px;
            height: 50px;
            background: #F36C44;
            border-radius: 50px;
            vertical-align: top;
            box-sizing: inherit;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin-right: 15px;
            margin-top: 30px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }

        p {
            display: inline-block;
            max-width: 90%;
            white-space: normal;
            box-sizing: inherit;
            margin: 40px 0 0;
        }

        img {
            width: 100%;
        }
    }


    &-layout {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-top: 90px;
        gap: 120px;

        .card {
            counter-reset: count;
            grid-column: span 6;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 7%;
            height: fit-content;

            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                margin-top: 25px;
            }

            .info {
                background: #5AC6D0;
                border-radius: 10px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 700;
                position: relative;
                color: #404042;
                padding: 50px 40px;
                margin-top: 60px;

                .ribbon {
                    position: absolute;
                    top: -20px;
                    left: 15px;
                    background: #F36C44;
                    border-radius: 10px;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 10px;
                }
            }
        }

        .sidebar {
            grid-column: span 4;
            padding: 10% 0;

            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 60px;

                li {
                    background: url('../../images/info.svg') no-repeat left top transparent;
                    list-style-type: none;
                    margin: 0 0 30px;
                    padding: 0px 0px 0px 50px;
                    vertical-align: middle;

                    p {
                        display: inline-block;
                        margin: 0 0 5px;
                    }

                    a:hover p {
                        text-decoration: underline;
                    }
                }
            }

            .ask-question {
                margin-top: 50px;
                text-align: center;

                >*:not(:first-child) {
                    margin-top: 30px;
                }

                img {
                    width: 100%;
                }

                h2 {
                    font-size: 30px;
                    line-height: 36px;
                }
            }
        }
    }
}

@media(max-width: $smallDesktop) {
    .topics {
        &-counter-section {
            p {
                max-width: 80%;
            }
        }

        &-layout {
            gap: 10%;
        }
    }
}

@media(max-width: $tablet) {
    .topics {
        &-layout {
            gap: 5%;

            .card {
                padding: 7%;
            }
        }
    }
}

@media(max-width: $mobile) {
    .topics {
        &-heading {
            line-height: 1.2;
            margin: 25px 0;
        }

        &-card-container {
            margin-top: 0;
            margin-bottom: 75px;
            gap: 25px;
        }

        &-card {
            height: 150px;
            padding: 15px;
            gap: 20px;
        }

        &-layout {
            gap: 0;
            margin-top: 50px;

            .card {
                grid-column: span 12;
                padding-top: 55px;
                padding-bottom: 55px;
            }

            .sidebar {
                grid-column: span 12;

                ul {
                    margin-top: 30px;

                    li {
                        margin: 0 0 15px;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .topics {
        &-counter-section {
            &::before {
                margin-bottom: -30px;
                font-size: 18px;
                height: 35px;
                width: 35px;
            }

            p {
                max-width: 100%;
            }
        }

        &-card {
            grid-column: span 6;
        }

        &-layout {
            .card {
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
    }
}