@import '../variables.scss';

.topics {
    &-header-underline {
        display: inline-block;
        border-bottom: 2px solid #4E5EAB;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    &-heading {
        color: #B1AEAF;
    }

    &-card-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 25px;
        row-gap: 25px;
        column-gap: 50px;
        margin-top: 35px;
        margin-bottom: 150px;
    }

    &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 248px;
        grid-column: span 4;
        background: #F8F8F8;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;

        padding: 40px;
        text-align: center;

        img {
            height: 50px;
            width: 50px;
        }

        h4 {
            margin: 0;
            color: #4E5EAB;
        }
    }

    &-counter-section {
        white-space: normal;
        box-sizing: inherit;

        &::before {
            content: counter(count);
            counter-increment: count;
            display: inline-flex;
            width: 50px;
            height: 50px;
            background: #F36C44;
            border-radius: 50px;
            vertical-align: top;
            box-sizing: inherit;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin-right: 15px;
            margin-top: 15px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }

        p {
            display: inline-block;
            max-width: 90%;
            white-space: normal;
            box-sizing: inherit;
        }

        img {
            width: 100%;
        }
    }


    &-layout {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-top: 90px;
        gap: 120px;

        .card {
            counter-reset: count;
            grid-column: span 6;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding: 7%;
        }

        .sidebar {
            grid-column: span 4;
            padding: 10% 0;
        }
    }
}

@media(max-width: $smallDesktop) {
    .topics {
        &-layout {
            gap: 10%;
        }
    }
}

@media(max-width: $tablet) {
    .topics {
        &-layout {
            gap: 5%;

            .card {
                padding: 7%;
            }
        }
    }
}

@media(max-width: $mobile) {
    .topics {
        &-heading {
            line-height: 1.2;
            margin: 25px 0;
        }

        &-card-container {
            margin-top: 0;
            margin-bottom: 75px;
            gap: 25px;
        }

        &-card {
            height: 150px;
            padding: 15px;
            gap: 20px;
        }

        &-layout {
            gap: 0;
            margin-top: 50px;

            .card {
                grid-column: span 12;
            }

            .sidebar {
                grid-column: span 12;
            }
        }
    }
}

@media(max-width: 500px) {
    .topics {
        &-card {
            grid-column: span 6;
        }
    }
}