.topics {
    &-heading {
        color: #B1AEAF;
    }

    &-card-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 25px;
        row-gap: 25px;
        column-gap: 50px;
        margin-top: 35px;
        margin-bottom: 150px;
    }

    &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 248px;
        grid-column: span 4;
        background: #F8F8F8;
        border-radius: 20px;

        padding: 40px;
        text-align: center;

        img {
            height: 50px;
            width: 50px;
        }

        h4 {
            margin: 0;
            color: #4E5EAB;
        }
    }
}

@media(max-width: $mobile) {
    .topics {
        &-heading {
            line-height: 1.2;
            margin: 25px 0;
        }

        &-card-container {
            margin-top: 0;
            margin-bottom: 75px;
            gap: 25px;
        }

        &-card {
            height: 150px;
            padding: 15px;
            gap: 20px;
        }
    }
}

@media(max-width: 500px) {
    .topics {
        &-card {
            grid-column: span 6;
        }
    }
}