.btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background: rgb(199, 196, 23);
    border: none;

    &:hover {
        background: rgb(236, 233, 36);
    }
}