.btn {
    height: 63px;
    background: #F36C44;
    border-radius: 50px;
    border: none;
    padding: 0 35px;

    font-family: 'Aileron', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #fff;

    cursor: pointer;

    &:hover {
        background: #ff774d;
    }
}