// Variables
@import './variables.scss';

// Components
@import './components/navigation-bar.scss';
@import './components/footer.scss';
@import './components/hero.scss';
@import './components/topics.scss';

// Mixins
@import './mixins/font.scss';

// Utils
@import './layout.scss';

// Typography
@import './typography.scss';

#root {
  --animate-delay: 0.3s;
}

body {
  font-family: 'Aileron', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: $mobile) {
  #root {
    overflow: hidden;
  }
}