.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    >.content {
        grid-column-start: 2;
        grid-column-end: 12;
        margin-top: 70px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;

    @for $i from 1 through 20 {
        &-span-#{$i} {
            grid-column: span $i !important;
        }
    }

    @for $i from 1 through 20 {
        &-start-#{$i} {
            grid-column-start: $i !important;
        }
    }

    @for $i from 1 through 20 {
        &-end-#{$i} {
            grid-column-end: $i !important;
        }
    }

    @media (max-width: $mobile) {
        @for $i from 1 through 20 {
            &-span-mobile-#{$i} {
                grid-column: span $i !important;
            }
        }
    }
}

// Spacing
$margins: 'margin-x', 'margin-y', 'margin-top', 'margin-bottom', 'margin-left', 'margin-right';
@include margin-matrix($margins);

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: $max-width;
}

@media(max-width: $mobile) {
    .container {
        >.content {
            grid-column-start: 1;
            grid-column-end: 14;
            padding: $gutter-mobile;
            margin-top: 30px;
        }
    }
}