@import url('https://fonts.cdnfonts.com/css/aileron');

h1 {
    @include h1-style();
}

h2 {
    @include h2-style();
}

h3 {
    @include h3-style();
}

h4 {
    @include h4-style();
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}

.text-dark {
    color: $text-dark;
}

.text-orange {
    color: $primary-color;
}

p {
    color: #404042;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}



@media(max-width: $mobile) {
    h1 {
        font-size: $h1-mobile;
        line-height: 1.2;
    }

    h2,
    h3 {
        font-size: $h2-mobile;
        line-height: 1.2;
    }

    h4 {
        font-size: $h4-mobile;
        line-height: 1.1;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }
}

@media(max-width: $smallMobile) {

    h1 {
        font-size: $h1-xsMobile;
        line-height: 1.2;
    }

    h2,
    h3 {
        font-size: $h2-xsMobile;
        line-height: 1.2;
    }

    h4 {
        font-size: $h4-xsMobile;
        line-height: 1.1;
    }
}